


/*'Paytone One'*/
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
/*'Karla'*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');

/* !important were added to override bootstrap/swal2 styles */

:root {
  --color-white: #f2f2da;
  --color-green: #63c979;
  --color-grey: #d5d5d5;
  --color-red: #ca2c2c;
}

.bgc__white {
	background-color: var(--color-white) !important;
}

.bgc__green {
	background-color: var(--color-green) !important;
}

.bgc__grey {
	background-color: var(--color-grey) !important;
}

.bgc__red {
	background-color: var(--color-red) !important;
}

.paytoneone {
	font-family: 'Paytone One', sans-serif;
}

.karla {
	font-family: 'Karla', sans-serif;
}

.font__400 {
	font-weight: 400;
}

.font__300 {
	font-weight: 300;
}

.font__white {
	color: var(--color-white);
}

.font__green {
	color: var(--color-green);
}

.logo {
	height: 3rem; /* 60/16 */
}

.bgCont {
	width: 100%;
	height: 28rem;
	position: relative;
	background: black;
}

.bgCont__mainImg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center;
	background-size: cover;
	opacity: 0.8;
	background-image: url(./assets/img/bg_img/coffe_beans.jpg);
}

.whiteFontHover {
	color: var(--color-white);
	transition: all 0.3s;
}

.whiteFontHover:hover {
	color: var(--color-green);
}

.deleteButton {
	border-style: none;
	transition: all 0.3s;
}

.deleteButton:hover {
	background-color: var(--color-red) !important;
	color: white !important;
}

.enabled__addButton {
	border-style: none;
	background-color: var(--color-green);
	color: var(--color-white);
	transition: all 0.3s;
}

.enabled__addButton:hover {
	border-style: none;
	background-color: var(--color-white);
	color: var(--color-green);
}

.disabled__addButton {
	border-style: none;
	background-color: var(--color-white);
	color: var(--color-grey);
	cursor: default;
}

.cartList__img {
	width: 10rem;
}
